---
layout: none
permalink: /medlem/buy
---
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tilmeld dig Medlemsskab af Vejle Idrætsskolers fond
    </title>
    <link rel="stylesheet" href="https://vih-fond.reepay.com/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://vih-fond.reepay.com/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://vih-fond.reepay.com/css/app.css">
</head>

<body>
<div class="container-fluid">
    <div class="row medium-text test-banner">
        <div class="col-sm-8 col-sm-offset-2 ">
        </div>
    </div>
    <div class="row top-margin-80">
        <div class="col-md-12" style="padding-top:20px;">
            <div class="error-details-modal" style="display: none" id="error_details_modal">
              <div class="content">
                <i class="fa fa-exclamation-triangle"></i>
                <div class="details">
                  <div id="error_detail_error"></div>
                  <div id="error_detail_message"></div>
                </div>
                <div class="buttons">
                  <div id="error_details_close"><i class="fa fa-times-circle-o"></i> close</div>
                  <div id="copy_error_details"><i class="fa fa-clipboard"></i> copy</div>
                </div>
              </div>
            </div>
            <section class="panel panel-default portlet-item shadowed no-border">
                <header class="panel-heading no-border shadowed">
                    <div class="row no-margin flex">
                        <div class="col-sm-4 flex-center-vertical header-text">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="panel-title light-text">Vejle Idrætshøjskoles og -efterskoles Fond</h2>
                                    <p class="light-text">CVR: 36850728</p>
                                    <p class="light-text">Ørnebjergvej 28</p>
                                    <p class="light-text">7100 Vejle</p>
                                    <p class="light-text">Denmark</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-sm-offset-4 img-wrapper">
                            <a href="http://fond.vih.dk" target="_blank"><img src="https://static.reepay.com/eabb8a63fbec1bd169c8c1da9565f662/20160829T63k.gif" alt="vendor logo" /></a>
                        </div>
                    </div>
                </header>
                <section class="panel-body">
                    
                    <article class="media" id="paymentinfo">

                        <div class="row no-margin bottom-margin-25">
                            <div class="col-sm-8">
                                <h2 class="light-text panel-title">Medlemsskab af Vejle Idrætsskolers fond</h2>
                            </div>
                        </div>
                        <div class="alert alert-danger" style="display: none" id="customer_error">
                            <i class="error-details fa fa-exclamation-triangle"></i>
                            <strong id="customer_error_headline">Oh snap!</strong>
                            <p id="customer_error_message"></p>
                        </div>
                        <div class="row no-margin">
                            <div class="col-sm-8">
                                <h4 class="light-text">Faktureringsoplysninger</h4>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">Fornavn <span class="red-asterix">*</span></label>
                                            <input type="text" class="form-control customer_info" name="first_name" required="required" placeholder="" autocomplete="given-name" tabindex=1>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">Efternavn <span class="red-asterix">*</span></label>
                                            <input type="text" class="form-control customer_info" name="last_name" required="required" placeholder="" autocomplete="family-name" tabindex=2>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">Email <span class="red-asterix">*</span></label>
                                            <input type="text" class="form-control customer_info" name="email" required="required" placeholder="" autocomplete="email" tabindex=3>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">Telefonnummer</label>
                                            <input type="text" class="form-control customer_info" name="phone" placeholder="" autocomplete="tel" tabindex=4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">Adresse <span class="red-asterix">*</span></label>
                                            <input type="text" class="form-control customer_info" name="address" required="required" placeholder="" autocomplete="street-address" tabindex=5>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">CPR-nummer (for at få skattefradrag og være tællende medlem)</label>
                                            <input type="text" class="form-control customer_info" name="company" placeholder="" autocomplete="organization" tabindex=6>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">Postnummer <span class="red-asterix">*</span></label>
                                            <input type="text" class="form-control customer_info" name="postal_code" required="required" placeholder="" autocomplete="postal-code" tabindex=7>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">By <span class="red-asterix">*</span></label>
                                            <input type="text" class="form-control customer_info" name="city" required="required" placeholder="" autocomplete="address-level2" tabindex=8>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="col-sm-4">
                                <h4 class="light-text">Rabatkupon</h4>
                                <div class="form-group">
                                    <label class="control-label">Kode</label>
                                    <input type="text" class="form-control form-group" name="code" id="coupon">
                                </div>

                                <div class="row flex">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12 flex-center-horizontal">
                                                <div class="validation-message larger-text">
                                                    <div class="success">
                                                        <img class="margin-right-10" src="https://vih-fond.reepay.com/image/coupon_check_mark.png" alt="valid coupon code"/>
                                                        <span class="text"></span>
                                                    </div>
                                                    <div class="error">
                                                        <img class="margin-right-10" src="https://vih-fond.reepay.com/image/coupon_invalid_mark.png" alt="invalid coupon code"/>
                                                        <span class="text"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 flex-center-horizontal">
                                                <div class="larger-text" id="discount">
            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            -->
                        </div>

                        <div class="row top-margin-20 no-margin">
                            <div class="col-sm-8">
                                <h4 class="light-text">Kortinformation</h4>

                                <div class="alert alert-danger" style="display: none" id="error">
                                    <i class="error-details fa fa-exclamation-triangle"></i>
                                    <strong id="error_headline">Oh snap!</strong>
                                    <p id="error_message"></p>
                                </div>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form id="paymentform" role="form" method="post">
                                                <div class="row">
                                                    <div class="col-sm-5 cardnumber-container">
                                                        <div class="form-group" id="form-group-cardnumber">
                                                            <label class="control-label">Kortnummer <span class="red-asterix">*</span></label>
                                                            <input type="text" class="form-control" placeholder="" id="cardnumber" autocomplete="cc-number" tabindex=9>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5">
                                                        <div class="form-group" id="form-group-exp">
                                                            <label class="control-label">Udløbsdato <span class="red-asterix">*</span></label>
                                                            <input type="text" class="form-control" placeholder="MM/ÅÅ" id="expiry" autocomplete="cc-exp" tabindex=10>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <div class="form-group" id="form-group-cvc">
                                                            <label class="control-label">CVV <span class="red-asterix">*</span></label>
                                                            <input type="text" class="form-control" placeholder="" id="cvv" autocomplete="cc-csc" tabindex=11>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row no-margin top-margin-10">
                                                    <div class="col-sm-6 cards-group">
                                                        <div class="row">
                                                            <div class="col-sm-2 col-24" style="margin-bottom: 10px">
                                                                <img src="https://vih-fond.reepay.com//image/visa_dk.png" class="shadowed shadow-dark" />
                                                            </div>
                                                            <div class="col-sm-2 col-24" style="margin-bottom: 10px">
                                                                <img src="https://vih-fond.reepay.com//image/visa.png" class="shadowed shadow-dark" />
                                                            </div>
                                                            <div class="col-sm-2 col-24" style="margin-bottom: 10px">
                                                                <img src="https://vih-fond.reepay.com//image/mc.png" class="shadowed shadow-dark" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 responsive-center">
                                                        <a href="https://reepay.com/security/" target="_blank">
                                                            <img src="https://vih-fond.reepay.com//image/secure_by_reepay_icon.png" />
                                                        </a>
                                                    </div>
                                                </div>
                                                    <input type="hidden" name="token" id="token">
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h4 class="light-text">Ordreinformation</h4>
                                <p></p>
                                <div id="outer-order-box">
                                    <div id="order-box" class="shadowed fit-shadow-right">
                                        <div class="row no-margin">
                                            <div class="col-sm-12">
                                                <p>Medlemsskab af Vejle Idrætsskolers fond</p>
                                            </div>
                                        </div>
                                        <div class="row no-margin top-margin-10">
                                            <div class="col-sm-12">
                                                <p>200,00 DKK (inkl. moms)</p>
                                            </div>
                                        </div>
                                        <div class="row no-margin no-min-height">
                                            <div class="col-sm-12">
                                            </div>
                                        </div>
                                        <div class="row no-margin no-min-height">
                                            <div class="col-sm-12">
                                            </div>
                                        </div>
                                        <div class="row no-margin extra-row">
                                            <div class="col-sm-12 extras">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row top-margin-40 no-margin">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div id="terms-group" class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" id="terms" tabindex=12 />
                                                                    Jeg har læst og accepteret <a href="#" data-toggle="modal" data-target="#myModal">abonnementsbetingelserne.</a>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row top-margin-10">
                                                    <div class="col-sm-12 submit-padding">
                                                        <button class="btn btn-s-md btn-success" style="width:100%" data-loading-text="Tilmelder..." id="savebutton" tabindex=13>Tilmeld
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-6 hidden-xs" id="card-container"></div>

                        

                    </article>
                    <article class="media" id="paymentinfo_success" style="display: none">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row flex">
                                        <div class="col-sm-12 flex-center-horizontal">
                                            <h2 class="success">Udført!</h2>
                                        </div>
                                    </div>
                                    <div class="row flex top-margin-40">
                                        <div class="col-sm-12 flex-center-horizontal">
                                            <img src="https://vih-fond.reepay.com/image/subscription_confirmed_graphics.png" alt="success"/>
                                        </div>
                                    </div>
                                    <div class="row flex top-margin-40 bottom-margin-50">
                                        <div class="col-sm-12 flex-center-horizontal">
                                            <p class="h2">Du er nu tilmeldt</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 hidden-xs"></div>
                            </div>
                        </div>
                    </article>
                </section>
            </section>
            <script src="https://vih-fond.reepay.com/js/jquery.min.js"></script>
            <script src="https://vih-fond.reepay.com/js/button.js"></script>
            <script src="https://vih-fond.reepay.com/js/jquery.card.js"></script>
            <script src="https://vih-fond.reepay.com/js/bootstrap.min.js"></script>
            <script src="https://js.reepay.com/v1/reepay.js"></script>
            
            <!-- texts.js -->
            <script>
                var translation = {};
                translation['validation_headline'] = 'Der er fejl i de indtastede informationer';
                translation['validation_message'] = 'Kontrollér indtastet data i felterne: ';
                translation['invalid-parameter_headline'] = 'Der er fejl i de indtastede informationer';
                translation['invalid-parameter_message'] = 'Kontrollér indtastet data i felterne: ';
                translation['invalid-public-key_headline'] = 'Ups der er sket en fejl';
                translation['invalid-public-key_message'] = 'Der er brugt en forkert public key';
                translation['missing-public-key_headline'] = 'Ups der er sket en fejl';
                translation['missing-public-key_message'] = 'Der mangler en public key';
                translation['api-error_headline'] = 'Ups der er sket en fejl';
                translation['api-error_message'] = 'Det var ikke muligt at processere dit betalingsmiddel. Kontakt os for at få hjælp (api_error).';
                translation['invalid-account-token_headline'] = 'Ups der er sket en fejl';
                translation['invalid-account-token_message'] = 'Det var ikke muligt at processere dit betalingsmiddel. Kontakt os for at få hjælp (invalid_account_token).';
                translation['card-type-not-supported_headline'] = 'Korttype kan ikke benyttes';
                translation['card-type-not-supported_message'] = 'Korttypen for den indtastede kort er ikke understøttet af butikken';
                translation['invalid-request_headline'] = 'Ups der er sket en fejl';
                translation['invalid-request_message'] = 'Det var ikke muligt at processere dit betalingsmiddel. Kontakt os for at få hjælp (invalid_request).';
                translation['credit_card_expired_headline'] = 'Kort udløbet';
                translation['credit_card_expired_message'] = 'Det indtastede kort blev afvist fordi det er udløbet';
                translation['insufficient_funds_headline'] = 'Ikke dækning på kort';
                translation['insufficient_funds_message'] = 'Det indtastede kort blev afvist p.g.a. manglende dækning';
                translation['declined_by_acquirer_headline'] = 'Kort afvist';
                translation['declined_by_acquirer_message'] = 'Kortet blev afvist af indløser';
                translation['credit_card_lost_or_stolen_headline'] = 'Kort afvist';
                translation['credit_card_lost_or_stolen_message'] = 'Kortet blev afvist da det er meldt tabt eller stjålet';
                translation['credit_card_suspected_fraud_headline'] = 'Kort afvist';
                translation['credit_card_suspected_fraud_message'] = 'Kortet blev afvist da der er minstanke om snyd';
                translation['acquirer_communication_error_headline'] = 'Ups der er sket en fejl';
                translation['acquirer_communication_error_message'] = 'Kommunikationen til indløser fejlede. Prøv igen senere eller kontakt support@reepay.com hvis problemet varer ved.';
                translation['acquirer_error_headline'] = 'Ups der er sket en fejl';
                translation['acquirer_error_message'] = 'Indløser fejlede. Prøv igen senere eller kontakt support@reepay.com hvis problemet varer ved.';
                translation['acquirer_integration_error_headline'] = 'Ups der er sket en fejl';
                translation['acquirer_integration_error_message'] = 'Det var ikke muligt at processere dit betalingsmiddel. Vi arbejder på at løse problemet.';
                translation['acquirer_authentication_error_headline'] = 'Ups der er sket en fejl';
                translation['acquirer_authentication_error_message'] = 'Det var ikke muligt at processere dit betalingsmiddel. Vi arbejder på at løse problemet.';
                translation['acquirer_configuration_error_headline'] = 'Ups der er sket en fejl';
                translation['acquirer_configuration_error_message'] = 'Det var ikke muligt at processere dit betalingsmiddel. Vi arbejder på at løse problemet.';
                translation['acquirer_rejected_error_headline'] = 'Ups der er sket en fejl';
                translation['acquirer_rejected_error_message'] = 'Det var ikke muligt at processere dit betalingsmiddel. Vi arbejder på at løse problemet.';
                translation['generel_headline'] = 'Ups der er sket en fejl';
                translation['generel_message'] = 'Det var ikke muligt at processere dit betalingsmiddel. Prøv igen senere eller kontakt support@reepay.com hvis problemet varer ved.';
                translation['tokenadd_headline'] = 'Ups der er sket en fejl';
                translation['tokenadd_message'] = 'Vi kan ikke processere dit betalingsmiddel lige nu. Der er ingen forbindelse til Reepay.';
                translation['invalid-coupon_headline'] = 'Kuponkoden findes ikke'; 
                translation['invalid-coupon_message'] = 'Den indtastede kode findes ikke i vores system.';
                translation['expired-coupon_headline'] = 'Kuponkoden er udløbet';
                translation['expired-coupon_message'] = 'Denne kuponkode er udløbet. Hvis du føler dette er en fejl, kontakt da de der har uddelt den';
                translation['terms-error_headline'] = 'Accepter betingelser';
                translation['terms-error_message'] = 'Det er påkrævet at acceptere vores betingelser';
                
                function interpretError(err) {
                    var result = {};
                    result["headline"] = translation[err + "_headline"];
                    result["message"] = translation[err + "_message"];
                    
                    if (!result.headline) {
                        result["headline"] = translation["generel_headline"];
                        result["message"] = translation["generel_message"];
                    }
                    return result;
                }
            </script>
            
            <!-- Reepay utils.js -->
            <script>
                /**
 * This util requires that texts.js is included in the HTML document as well, as it's used to translate various error messages
 * @param {string} valSettings
 */
function ReepayUtils(valSettings) {
    var self = this;
    /**
     * Settings which can extend/overwrite defaults by parsing an object as a parameter. See the HTML for example
     * Everything but the functions in the return block is private
     */
    self.settings = {
        cvvId: "#cvv",
        cardnumberId: "#cardnumber",
        expiryId: "#expiry",
        inputClass: ".customer_info",
        submitButtonId: "#savebutton",
        termsId: undefined,
        formId: "#paymentform",
        couponId: "#coupon",
        checkEmail: true,
        submitProcess: false,
        locale: "en_GB"
    };
    $.extend(self.settings, valSettings);

    /**
     * Validating that all required input fields are filled out
     */
    self.validateInput = function(inputName) {
        self.validateCustomer(inputName);
        $(inputName).each(function() {
            if ($(this).attr('required')) {

                $(this).blur(function() {
                    if ($(this).val() == "") {
                        $(this).parent().removeClass("has-success");
                        $(this).parent().addClass("has-error");
                    } else {
                        $(this).parent().removeClass("has-error");
                        $(this).parent().addClass("has-success");
                    }

                    if($(this).attr("name") == "email" && !self.isEmail($(this).val())){
                        $(this).parent().removeClass("has-success");
                        $(this).parent().addClass("has-error");
                    }

                });

            }
        });
    }

    /**
     * Check if the email fits the standard emai format
     * @param {string} email
     * @returns {boolean}
     */
    self.isEmail = function(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    /**
     *  Validate that the customer info fields has been filled out
     * @returns {boolean}
     */
    self.validateCustomer = function(inputName) {
        var status = true;

        $(inputName).each(function() {

            if ($(this).attr('required')) {
                if ($(this).val() == "") {
                    console.log($(this).attr("name") + " is empty");
                    status = false;
                }
            }

            if ($(this).attr("name") == "email" && !self.isEmail($(this).val())) {
                console.log($(this).attr("name") + " is not valid");
                status = false;
            }
        });
        return status;
    }

    /**
     * Constructs the customer object based on the inputs in the form
     * @returns {Object}
     */
    self.getCustomer = function(inputName) {
        var customer = {};

        $(".customer_info").each(function() {
            customer[$(this).attr("name")] = $(this).val();
        });

        return customer;
    }

    /**
     * Card number validation on HTML fields
     */
    self.validateCardnumber = function(cardnumberId) {
        $(cardnumberId).blur(function() {
            //$('#error').hide();
            if (!reepay.validate.cardNumber($(cardnumberId).val())) {
                // This can be changed to how you wish to do with the validation of the cardnumberId

                if ($('#form-group-cardnumber').hasClass("has-success")) {
                    $('#form-group-cardnumber').toggleClass("has-success");
                }
                if (!$('#form-group-cardnumber').hasClass("has-error")) {
                    $('#form-group-cardnumber').toggleClass("has-error");
                }
            } else {
                if ($('#form-group-cardnumber').hasClass("has-error")) {
                    $('#form-group-cardnumber').toggleClass("has-error");
                }
                if (!$('#form-group-cardnumber').hasClass("has-success")) {
                    $('#form-group-cardnumber').toggleClass("has-success");
                }
            }
        });
    };

    /**
     * Expiry validation on HTML fields
     */
    self.validateExpiry = function(expiryId) {
        $(expiryId).blur(function() {
            var exp = $(expiryId).val().replace(/\s/g, '').split("/");
            if (!reepay.validate.expiry(exp[0], exp[1])) {
                // This can be chamged to how you wish to do with the validation of the cardnumberId
                if ($('#form-group-exp').hasClass("has-success")) {
                    $('#form-group-exp').toggleClass("has-success");
                }
                if (!$('#form-group-exp').hasClass("has-error")) {
                    $('#form-group-exp').toggleClass("has-error");
                }
            } else {
                if ($('#form-group-exp').hasClass("has-error")) {
                    $('#form-group-exp').toggleClass("has-error");
                }
                if (!$('#form-group-exp').hasClass("has-success")) {
                    $('#form-group-exp').toggleClass("has-success");
                }
            }
        });
    };

    /**
     * CVV validation on HTML fields
     */
    self.validateCvv = function(cvvId) {
        $(cvvId).blur(function() {
            if (!reepay.validate.cvv($(cvvId).val())) {
                // This can be changed to how you wish to do with the validation of the cardnumberId
                if ($('#form-group-cvc').hasClass("has-success")) {
                    $('#form-group-cvc').toggleClass("has-success");
                }
                if (!$('#form-group-cvc').hasClass("has-error")) {
                    $('#form-group-cvc').toggleClass("has-error");
                }
            } else {
                if ($('#form-group-cvc').hasClass("has-error")) {
                    $('#form-group-cvc').toggleClass("has-error");
                }
                if (!$('#form-group-cvc').hasClass("has-success")) {
                    $('#form-group-cvc').toggleClass("has-success");
                }
            }
        });
    }

    /**
     * Validates if the terms has been checked.
     */
    self.validateTerms = function(termsId) {

        $(termsId).change(function() {
            // Check if terms has been accepted. This can be changed to how you wish to handle the errors. 
            if (this.checked) {
                $("#terms-group").removeClass("has-error");
                $("#terms-group").addClass("has-success");
            } else {
                $("#terms-group").removeClass("has-success");
                $("#terms-group").addClass("has-error");
            }
        });
        if (!$(termsId).checked) {
            return false;
        }
        return true;
    }

    /**
     * The public validate function
     */
    self.validate = function(settings) {
        self.validateInput(settings.inputClass);
        self.validateCardnumber(settings.cardnumberId);
        self.validateExpiry(settings.expiryId);
        self.validateCvv(settings.cvvId);
        self.validateTerms(settings.termsId);
    }

    /**
     * Generates a token. If a custom function is defined, it will use that to handle the returned token.
     * @param {Object} paymentInfo
     * @param {customTokenFunction} customTokenFunction
     */
    self.getToken = function(settings, paymentInfo, customTokenFunction) {        
        if (paymentInfo.year.length > 2) {
            paymentInfo.year = paymentInfo.year.substring(paymentInfo.year.length - 2, paymentInfo.year.length);
        }
        reepay.token(paymentInfo, function(err, token) {
            // Handle token error and success here. This is just an example.
            // Should be changed to suit your needs and your HTML.
            if (err) {
                console.log("An error happened: code: " + err.code + " message: " + err.message);
                var errText = interpretError(err.code);
                var headline = errText.headline;
                var message = errText.message;
                $(".error-details").on('click', function(event) {
                  $("#error_detail_error").html("<span>Error:</span>" + err.code);
                  $("#error_detail_message").html("<span>Message:</span>" + err.message);
                  $("#error_details_modal").show();
                });
                $("#error_details_close").on('click', function(event) {
                  $("#error_details_modal").hide();
                });
                $("#copy_error_details").on('click', function(event) {
                  self.copyErrorDetails(err);
                });
                $('#error_headline').html(headline);
                if (err.fields) {
                    message = message + err.fields;
                }
                $('#error_message').html(message);
                $('#error').show();
                $(settings.submitButtonId).button('reset');
            } else if (customTokenFunction == undefined) {
                $("[data-reepay=token]").val(token.id);
                $(settings.formId).submit();
            } else {
                objects = {
                    customer: self.customer,
                }
                customTokenFunction(objects, token);
            }
        });
    }

    /**
     *  Copy error details 
     */
    self.copyErrorDetails = function(error){
      if(error.message){
        var textarea = null;
        textarea = document.createElement( "textarea" );
        textarea.style.height = "0px";
        textarea.style.left = "-100px";
        textarea.style.opacity = "0";
        textarea.style.position = "fixed";
        textarea.style.top = "-100px";
        textarea.style.width = "0px";
        document.body.appendChild( textarea );
        textarea.value += "ERROR: " + error.code + "\n";
        textarea.value += "MESSAGE: " + error.message;
        textarea.select();
        document.execCommand( "copy" );
      }
    }

    /**
     * Checks if the terms are checked
     * @param {Object} settings
     * @returns {boolean}
     */
    self.checkTerms = function(settings) {
        if (typeof(settings.termsId) != 'undefined' && !$(settings.termsId)[0].checked) {
            $("#terms-group").addClass("has-error");
            var errText = interpretError("terms-error");
            $('#error_headline').html(errText.headline);
            $('#error_message').html(errText.message);
            $('#error').show();

            $(settings.submitButtonId).button('reset');
            return false;
        }
        return true;
    }


    /**
     * Validates the payment info up against reepay's JS/API
     * @param {Object} settings
     * @param {customTokenFunction}
     */
    self.validatePaymentInfo = function(settings, customTokenFunction) {
        var exp = $(settings.expiryId).val().replace(/\s/g, '').split("/");
        var errorFields = []
        var errState = false;
        // alternatively..
        var paymentinfo = {
            // TODO: the name must be cardnumber not only number. Server supports number fix.
            number: $(settings.cardnumberId).val(),
            month: exp[0],
            year: exp[1],
            cvv: $(settings.cvvId).val()
        };

        if(!reepay.validate.cardNumber(paymentinfo['number'])){
            errState = true;
            errorFields.push($(settings.cardnumberId).prev().text().replace("*", "").trim());
        }

        var exp = $(settings.expiryId).val().replace(/\s/g, '').split("/");
        if (!reepay.validate.expiry(exp[0], exp[1])){
            errState = true;
            errorFields.push($(settings.expiryId).prev().text().replace("*", "").trim());
        }

        if(!reepay.validate.cvv(paymentinfo['cvv'])){
            errState = true;
            errorFields.push('CVV')
        }

        if(errState) {
            var errText = interpretError("validation");
            var headline = errText.headline;
            var message = errText.message;
            message += errorFields.join(", ");

            $('#error_headline').html(headline);
            $('#error_message').html(message);
            $('#error').show();
            $(settings.submitButtonId).button('reset');
            return;
        } else if(self.checkTerms(settings) && self.validateCustomer(settings.inputClass) && !errState){
            $(settings.submitButtonId).button('loading');
            self.getToken(settings, paymentinfo, customTokenFunction);
        }
        return;
    }

    /**
     * Creates a customer from the specified settings
     * @param {Object} settings
     * @param {customTokenFunction} customTokenFunction
     */
    self.createCustomer = function(settings, customTokenFunction) {
        var check = true;
        $(settings.submitButtonId).on('click', function(event) {
            $("#customer_error").hide();
            $("#error").hide();
            event.preventDefault();
            check = self.checkTerms(settings);


            // Validate Customer
            if (!self.validateCustomer(settings.inputClass)) {
                // Show some kind of error here
                //$('#customer_error_headline').html("Wrong information");
                //$('#customer_error_message').html("Please fill in correct information");
                var errFields = []
                var fields = [] 
                
                if($(settings.inputClass).parent().hasClass("has-error")) {
                    fields.push()
                }
                
                $(settings.inputClass).parent().each(function(index) {
                    if($(this).hasClass("has-error")){
                        errFields.push($(this).children('label').text().replace("*", "").trim());
                    }
                });

                var errText = interpretError("validation");
                $('#customer_error_headline').html(errText.headline);
                $('#customer_error_message').html(errText.message + errFields.join(", "));
                $("#customer_error").show();
                //$(settings.submitButtonId).button('reset');
                check = false;
            }

            if (!check) {
                self.validatePaymentInfo(settings, customTokenFunction);
            } else {
                self.customer = self.getCustomer(settings.inputClass);
                $("#customer_error").hide();
                self.validatePaymentInfo(settings, customTokenFunction);
            }
        });
    };


    /**
     * Checks if a coupon is valid. Builds the coupon object to send in a custom function
     * @param {string} couponId
     * @param {validationFunction} validationFunction
     */
    self.checkCoupon = function(couponId, validationFunction) {
        $(couponId).on('blur', function(event) {
            $(".validation-message").children().hide();
            $(couponId).parent().removeClass("has-error");
            $(couponId).parent().removeClass("has-success");
            var coupon = {
                code: $(couponId).val()
            }
            console.log(coupon.code);
            if (validationFunction == undefined) {
                console.error("A validation function for the coupon field is required");
            } else if (coupon.code != "") {
                $(couponId).addClass("customer_info");
                validationFunction(coupon, couponId);
            } else {
                $(couponId).removeClass("customer_info");
                $(".extras").html("");
            }
        });
    }

    /**
     * Updates the card information for the customer
     */
    self.updateCard = function(settings, updateCardFunction) {
        $(settings.submitButtonId).on('click', function(event) {
            $("#customer_error").hide();
            $("#error").hide();
            event.preventDefault();

            self.checkTerms(settings);
            self.validatePaymentInfo(settings, updateCardFunction);
        });
    }



    /**
     * Exposes the necessary functions to the caller
     */
    return {
        // Validates input with the given settings in the constructor
        validate: function() {
            self.validate(self.settings);
        },
        createCustomer: function(customTokenFunction) {
            self.createCustomer(self.settings, customTokenFunction);
        },
        coupon: function(validationFunction) {
            self.checkCoupon(self.settings.couponId, validationFunction);
        },
        updateCard: function(updateCardFunction) {
            self.updateCard(self.settings, updateCardFunction);
        },
        repSettings: self.settings
    }
}
            </script>
            <!-- Calls to reepay.js and utils.js -->
            <script>
                     $("#paymentform").card({
                         container: '#card-container',
                         formSelectors: {
                             numberInput: 'input#cardnumber',
                             expiryInput: 'input#expiry',
                             cvcInput: 'input#cvv',
                             nameInput: 'input#name'
                         },
                         values: {
                             number: '**** **** **** ****',
                             expiry: '**/**',
                             cvc: '***'
                         }
                    });

                    // Configure the Reepay library with your public key.
                    reepay.configure({
                        "publicKey": "pub_3bb1c8cb67af1de05cb279a0bac7d5e8",
                        "api": "https://card.reepay.com/v1",
                    });

                    // Make a new ReepayUtils object with your desired settings
                    var rep = new ReepayUtils({
                        inputClass: ".customer_info",
                        cardnumberField: "#cardnumber",
                        expiryField: "#expiry",
                        cvvField: "#cvv",
                        locale: "da_DK",
                        submitButtonId: "#savebutton",
                        termsId: "#terms"
                    });
                    // Validate that everything has been filled out correctly.
                    rep.validate();
                    rep.coupon(function(coupon, couponId) {
                        coupon.plan = "medlemsskab-200";
                        $('#discount').empty();
                        $.ajax({
                            url: "https://vih-fond.reepay.com/aa72dcbf961d616db53a21a6a5ac1975/validate_coupon",
                            method: "POST",
                            data: JSON.stringify(coupon),
                            contentType: 'application/json',
                        }).done(function(discount) {
                            if (discount.state == "active") {
                                $(couponId).parent().removeClass("has-error");
                                $(couponId).parent().toggleClass("has-success");
                                $('.validation-message .success .text').html("Godkendt");
                                $('.validation-message .success').show();
                                if(discount.amount === 0){
                                    if(discount.fixed_period != 0){
                                        $('#order-box .extras').html('<p>Rabat: ' + discount.percentage + '%</p>'); //i ' + discount.fixed_period + " " + discount.fixed_period_unit);
                                    } else {
                                        $('#order-box .extras').html('<p>Rabat: ' + discount.percentage + '%</p>');
                                    }
                                } else {
                                    $('#order-box .extras').html('<p>Rabat: ' + discount.amount/100 + ' DKK</p>');
                                }
                            } else {
                                $(".extras").html("");
                                $(couponId).parent().removeClass("has-success");
                                $(couponId).parent().addClass("has-error");
                                $('.validation-message .error .text').html('Kuponkoden er udløbet');
                                $('.validation-message .error').show();
                            }
                        }).fail(function(err) {
                            $(".extras").html("");
                            $(couponId).parent().removeClass("has-success");
                            $(couponId).parent().addClass("has-error");
                            if(err.responseJSON.code == 86){
                                $('.validation-message .error .text').html('Kuponkoden findes ikke');
                                $('.validation-message .error').show();
                            } else {
                                $('.validation-message .error .text').html('Den indtastede kode findes ikke i vores system.').show();
                                $('.validation-message .error').show();
                            }
                            
                        });
                    });
                    // Handles the submission of the form.
                    rep.createCustomer(function(data, token) {
                        var $btn = $('#savebutton').button('loading');
                        data.customer.token = token.id;
                        // AJAX
                        $.ajax({
                            url: "https://vih-fond.reepay.com/aa72dcbf961d616db53a21a6a5ac1975/create_customer",
                            method: "POST",
                            data: JSON.stringify(data.customer),
                            contentType: 'application/json',
                        }).done(function(data) {

                            if (data.status === 'ok') {
                                $('#paymentinfo').hide();
                                $('#paymentinfo_success').show();
                            }
                            $btn.button('reset');

                        }).fail(function(err) {
                            var errorTextHeadline;
                            var errorTextMessage;
                            if(err.status == 404){
                                errorTextHeadline = 'Kuponkoden findes ikke';
                                errorTextMessage = 'Den indtastede kode findes ikke i vores system.';
                            } else {
                                errorTextHeadline = 'Ups der er sket en fejl';
                                errorTextMessage = 'Vi kan ikke processere dit betalingsmiddel lige nu. Der er ingen forbindelse til Reepay.';
                            }
                            $('#error_headline').html(errorTextHeadline);
                            $('#error_message').html(errorTextMessage);
                            $('#error').show();
                            $btn.button('reset');
                        });
                    });
                </script>
        </div>
        <div class="col-md-3"></div>
    </div>
    
    <!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Betingelser</h4>
                </div>
                <div class="modal-body">
                    <div>
                       {% include reepay-betingelser.html %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include analytics.html %}

</body>

</html>