---
layout: splash
title: "Vejle Idrætsskolers Fond"
excerpt: "Tak fordi du kigger forbi. Vi er inde i en rigtig spændende udvikling på Vejle Idrætshøjskole og Idrætsefterskole, hvor vi er ved at forbedre både skolens produkt og faciliteterne. Vi håber, at du vil hjælpe med at støtte fonden."
header:
  overlay_image: /assets/images/ole-damgaard-frontpage.jpg
  caption: Ole Damgaard, forstander på Vejle Idrætshøjskole
  actions:
    - label: "<i class='fas fa-money-bill-alt'></i> Få medlemsskab"
      url: /medlem/buy/
    - label: "<i class='fas fa-money-bill-alt'></i> Giv kontantbidrag"
      url: /bidrag/buy/
    - label: "<i class='fas fa-money-bill-alt'></i> Donér en stol til Globen"
      url: /stol/buy/
intro:
  - excerpt: "Fondens formål er at støtte udviklingen af Vejle Idrætshøjskoles og Idrætsefterskoles faciliteter. Støt Vejle Idrætshøjskoles Fond og vær med til at sikre skolens fremtid og skabe stjernestunder på skolen."
feature_row_od:
  - image_path: /assets/images/od.jpg
    excerpt: >-
      <p></p>
      <p>--- <cite>Ole Damgaard, forstander på højskolen</cite></p>
feature_row:
  - title: Carsten Lang Petersen
    image_path: /assets/images/carsten-lang_0.jpg
    excerpt: "formand for bestyrelsen"
  - title: Ole Damgaard
    image_path: /assets/images/od.jpg
    excerpt: "forstander for højskolen"
  - title: Frank Rasmussen
    image_path: /assets/images/frank1.jpg
    excerpt: "forstander efterskolen"
feature_row_products:
  - title: Få medlemsskab
    excerpt: "Få et årligt medlemsskab af Vejle Idrætshøjskole fond og vær med til at sikre endnu flere stjernestunder på skolerne. Fornys automatisk."
    url: /medlem/
    btn_class: btn--success
    btn_label: Få medlemsskab
  - title: Donér en stol til Globen
    excerpt: "Lige nu renoverer vi Globen indvendigt. I den forbindelse skal vi købe 180 nye stole. Du har nu mulighed for at donere en stol til skolen."
    url: /stot-globen-stol/
    btn_class: btn--danger
    btn_label: Donér en stol til Globen
  - title: Kontantbidrag
    excerpt: "Støt Vejle Idrætshøjskole med et kontant enkeltbidrag, der gælder for indeværende år."
    url: /bidrag/
    btn_class: btn--info
    btn_label: Giv kontantbidrag
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row_products" %}

<h2>Opdateringer</h2>

<div class="feature__wrapper">

{% assign site_posts = site.posts | sort: "date" | reverse %}

{% if site_posts.size > 0 %}
  {% for post in site_posts limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
{% endif %}

</div>

<hr>

{% include feature_row %}
