---
layout: splash
title: "Vejle Idrætshøjskoles Fond"
header:
  overlay_image: https://www.vih.dk/sites/vih/files/styles/paragraph_background_image/public/udklip_2.jpg
  actions:
    - label: Få medlemsskab 
      url: /medlemskab/
    - label: Giv kontantbidrag
      url: /bidrag/
intro: 
  - excerpt: "Støt Vejle Idrætshøjskoles Fond og vær med til at sikre skolens fremtid og skabe stjernestunder på skolen."
feature_row_od:
  - image_path: /assets/images/od.jpg
    excerpt: >-
      <p>Tak fordi du kigger forbi. Vi er inde i en rigtig spændende udvikling på Vejle Idrætshøjskole, hvor vi er ved at forbedre både skolens produkt og faciliteterne. Vi håber, at du vil hjælpe med at støtte fonden.</p>
      <p>--- <cite>Ole Damgaard, forstander på højskolen</cite></p>
---

{% include feature_row id="feature_row_od" type="left" %}

{% include feature_row id="intro" type="center" %}

{% assign memberships = site.pages | where: "tags", "medlemsskab" %}

{% for post in memberships %}
  {% include archive-single.html type="grid" %}
{% endfor %}
