<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                {% if page.hero.image %}
                <img src="//images.weserv.nl/?url={{ page.hero.image | absolute_url }}&w=200&a=attention" alt="{{ page.hero.image_alt }}">
                {% endif %}
                {% if page.hero.heading %}
                <h1>{{ page.hero.heading }}</h1>
                {% endif %}
                {{ page.hero.text }}
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->
