<p><b>Varighed af medlemsskabet</b></p>
<p>Sålænge medlemskabet eksisterer uopsagt, vil der på det tilmeldte betalingskort forgå en trækning af 200,00 DKK. Der betales forud og medlemsskabet gælder et kalenderår (januar til december). Du kan til enhver tid opsige dit abonnement ved at kontakte os på info@vih.dk - dog senest 8 dage før den næste trækning.</p>
<p><b>Kvittering</b></p>
<p>Efter tilmelding og ved hver trækning bliver der leveret en kvittering pr. e-mail til den e-mail du er tilmeldt med.</p>
<p><b>Betalingskort udløb</b></p>
<p>Såfremt dit betalingskort udløber, vil der blive fremsendt e-mail med link til fornyelse af kortoplysninger.</p>
<p><b>Kortoplysninger</b></p>
<p>Ved tilmelding til automatisk trækning giver du tilladelse til at gemme samtlige nødvendige betalingskortsoplysninger til brug for automatisk debitering af dit betalingskort. Disse oplysninger slettes, når aftalen ophører.</p>
<p><b>Prisen</b></p>
<p>Alle priser er uden moms med mindre andet er oplyst.</p>
<p><b>Levering</b></p>
<p>Når din tilmelding er blevet bekræftet, så har du adgang til fordelene, og således regnes medlemsskabet som leveret.</p>
<p><b>Refundering</b></p>
<p>Påbegyndt medlemsskab refunderes ikke.</p>
<p><b>Reklamation</b></p>
<p>Enhver form for reklamation skal rettes direkte til Vejle Idrætshøjskoles og -efterskoles Fond på info@vih.dk.</p>
<p><b>Spørgsmål</b></p>
<p>Ved spørgsmål til dit køb, kontakt Vejle Idrætshøjskoles og -efterskoles Fond på info@vih.dk.</p>
